body {
  text-align: center;
  display: flex; 
  background-color: #000000;
  flex-direction: column;
  padding: 2%;
} 

img { max-width: 100%; height: auto; }

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}
.game-intro {
  background-color: #20B2AA;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 1% 30%;
}

.game-intro p {
  display: flex;
  font-size: 20px;
  font-family: "Verdana";
  padding: 40px;
  text-align: center;
}


.arrows-img {
  display: block;
  width: 150px;
  padding: 10px;
  align-content: center;
  align-items: center;
}

#start-button {
  display: flex;
  font-size: 31px;
  background-color: #000000;
  color: #fff;
}

#score {
  display: block;
  align-items: flex-end;
  font-size: 21px;
  padding-right: 10px;
  color: #fff;
  font-family: Verdana;
}

#game-board {
    display: flex;  
    align-items: center;
    padding-left: 20px; 
}


#gameover {
  display: flex;
  padding: 100px;
  flex-direction: column;
  color: white;
  font-family: verdana;
  text-align: center;
}

#end-button {
  color: white;
  background-color: #000000;
  font-size: 15px;
  font-family: verdana;
  text-align: center;
  padding: 15px 3px;
  margin: 2px 300px;
  cursor: pointer;
}


#timer {
  display: flex;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-family: Verdana;
}

#win{
  display: flex;
  padding: 100px;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-family: verdana;
  text-align: center;
}