body {
  text-align: center;
  display: flex; 
  background-color: #000000;
  width: 700px;
  height: 500px;
  padding: 2%;
} 

.game-intro {
  background-color: #20B2AA;
  display: flex;
  align-items: center;
  text-align: justify;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1% 30%;
}

.game-intro p {
  display: flex;
  font-size: 20px;
  font-family: "Verdana";
  padding: 40px;
  text-align: center;
}


.arrows-img {
  display: block;
  width: 150px;
  padding: 10px;
  align-content: center;
  align-items: center;
}

body button {
  display: flex;
  font-size: 30px;
  background-color: #000000;
  color: #fff;
}

#score {
  display: block;
  align-items: flex-end;
  font-size: 20px;
  padding-right: 10px;
  color: #fff;
  font-family: Verdana;
}

#game-board {
    display: flex;  
    align-items: center;
    padding-left: 20px; 
}

